:root {
    --primary-color: #87CEEB;
    --secondary-color: #4682B4;
    --tertiary-color: #F08080;
    --lightest-font-color: #fff;
    --focus-red-color: #CD5C5C;
    --dark-font-color: #191970;
    --bodyfontsize: 25px;
    --padding-margin-px:30px;
    --padding-margin-px-lg: 20px;
    --font-weight-700px: 700px;
    --max-width-700px: 700px;
}

a {
    color: var(--dark-font-color);
    transition: transform 0.2s ease;
}

a:hover,
a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
    transform: scale(1.05);
}

a:active {
    /* selected link */
    color: var(--tertiary-color);
}

body {
    background-color: var(--primary-color);
    font-family: 'EB Garamond', serif;
    font-weight: 500px;
    font-size:var(--bodyfontsize);
    line-height: 1.5;
    text-align:justify;
    color: var(--dark-font-color);
}

/* img {
    border: var(--secondary-color);
    border-width: 2px;
    border-style:solid;
    border-radius: 5px;
} */

.img__favicon {
    position: fixed; /* Fixes favicon icon in one place and it stays there when scrolling */
}

h1 {
    font-size: 46px;
    font-weight:var(--font-weight-700px);
    line-height: 1;
    font-style: bold;
    color: var(--dark-font-color);
}

h2  {
    font-size: 28px;
    font-weight:var(--font-weight-700px);
    line-height: 1.5;
    font-style: bold;
}

h3 {
    font-size: 24px;
    font-weight:var(--font-weight-700px);
    line-height: 1;
    font-style: bold;
}

h4 {
    font-size: 20px;
    font-weight:bold;
    line-height: 0;
}

p {
    color: var(--dark-font-color);
    font-size:var(--bodyfontsize);
    line-height: 1.5;
    font-style: normal;
}

button, 
.button, 
.button-class,
.button__secondary {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding:var(--padding-margin-px);
    border-radius: 15px; /* Curves the image (button) to be more visually appealing (a value of 50% will make it a circle */
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    /* longhand 
    transition-duration: .5s;
    transition-property: opacity; */
    /* shorthand */
    transition: color .7s transform 0.2s ease;
    margin: 12px;
    width: 100%;
    table-layout: fixed;
    font-size: 20px;
    padding: 1rem .75rem;
    border-width: 6px;
}

button:hover, button:focus, .button:hover, .button:focus, button__secondary:hover, button__secondary:focus, .button__secondary:hover, .button__secondary:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacty of the button to 80% */
    background-color:var(--tertiary-color);
    color:var(--dark-font-color);
    transform: scale(1.05);
}

.button__secondary {
    background-color:var(--secondary-color);
    font-family: inherit;
    padding:var(--padding-margin-px);
    border-radius: 10px; /* Curves the image (button) to be more visually appealing (a value of 50% will make it a circle */
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    /* longhand 
    transition-duration: .5s;
    transition-property: opacity; */
    /* shorthand */
    transition: color .7s transform 0.2s ease;
    margin: 10px;
    width: 100%;
    table-layout: fixed;
    font-size: 20px;
}

.button__secondary:hover, .button__secondary:focus {
    cursor: pointer;
    /* reduces the opacty of the button to 80% */
    background-color:var(--secondary-color);
    color:var(--lightest-font-color);
}

button:active {
    background-color:var(--primary-color);
}

button:focus {
    border: 2px solid var(--focus-red-color);
}

html {
    padding:var(--padding-margin-px); /* Adds a 17px inner spacing to all sides*/
    margin:var(--padding-margin-px); /* Adds a 17px outer spacing to all sides*/
    border: 5px solid var(--dark-font-color); /* Attributes describe: thickness, type, color*/
    border-radius: 25px;
    color: var(--dark-font-color);
}

* {
    box-sizing: border-box; /* Puts everything on the pages into the border box. Sets the width value for every element to include their padding and border values. */
}


/* Responsive adjustments for the navigation bar */
@media (max-width: 768px) {
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    .page-header__item {
        flex: 0 0 auto; /* Adjust items to not grow or shrink */
        width: auto; /* Adjust width for mobile */
        margin-top:var(--padding-margin-px); /* Add some space between logo/name and navigation */
    }

    .navigation-list {
        text-align: center;
    }

    .navigation-list li {
        display: block; /* Stack the navigation items vertically */
        margin-left: 0; /* Remove the left margin */
        margin-bottom:var(--padding-margin-px); /* Add some space between items */
    }

    .navigation-list__item--active,
    .navigation-list__item {
        display: block; /* Ensure links also stack vertically */
    }
}

.pokemon-list {
    text-decoration: none;
    list-style-type: none; /* Removes the bullet points */
    /* add CSS to sit next to each other */
    display:contents;
}

#modal-container {
  display:none;
}

#modal-container.is-visible {
  position:fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #B0E0E6;
  padding: 35px;
  width: 100%;
  max-width: 700px;
  text-align:center;
  border-radius: 20px;
}

.modal-close {
  float:right;
  /* -webkit-appearance: none; */
  border: 0;
  background: none;
  background-color:var(--tertiary-color);
  color:var(--dark-font-color);
  font-family: inherit;
  padding:10px;
  border-radius: 10px; /* Curves the image (button) to be more visually appealing (a value of 50% will make it a circle */
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 0px solid rgba(0, 0, 0, 0.3);
  /* longhand 
  transition-duration: .5s;
  transition-property: opacity; */
  /* shorthand */
  transition: color .7s transform 0.2s ease;
  margin: 0px;
  font-size: 20px;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

.pokemon-image {
    height: 150px;
    max-width: 150px;
    margin: 0 auto;
    vertical-align:middle;
}


